/* ─── Nav Bar ───────────────────────────────────────────── */
.headerBar {
  position: fixed;
  top: 0;
  z-index: 400;
  width: 100%;
  box-sizing: border-box;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(5px);
}

.headerBar ul {
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerBar a {
  height: 100%;
  padding: 0 1vw 1vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.headerBar li:first-child {
  margin-right: auto;
  font-weight: 800;
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
}

.menu-icon {
  display: none;
}

/* Underline animation */
.headerBar * {
  position: relative;
}

.headerBar *::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #fff;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.headerBar a:hover::after {
  width: 100%;
  left: 0;
}

/* Links */
.headerBar a {
  cursor: pointer;
  color: white;
}

.header-3 {
  display: flex;
  gap: 0.6rem;
}

.header-3 a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-3 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  /* create hamburger menu with name at the top */
  .hideonmobile {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
}
