.section-1,
.section-2,
.section-3 {
  position: relative;
  height: 100vh;
  width: 100vw;

  transition: background-color 1s;
}

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-1:hover,
.section-2:hover,
.section-3:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-me-img {
  height: 600px;
  width: 400px;
  object-fit: cover;
  border-radius: 50px;
}
.section-1 {
  margin-top: -10vh;
}

.mainHeader {
  height: 50vh;
  width: 50vw;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.about-me {
  height: 50vh;
  width: 50vw;
  background-color: rgba(106, 52, 26, 0.05);
  transition: background-color 1s;

  padding: 0 30px 0 30px;
}

.about-me:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.mainHeader,
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectionFilling {
  font-size: 15pt;
  font-weight: 200;
}

.sectionTitle {
  font-size: 60pt;
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#section-1-title {
  padding-bottom: 0px;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3-img-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
